body {
    margin: 0;
    background-color: #f9f4f1;
    font-family: monospace;
}

#links {
    margin: auto;
    width: fit-content;
    color: #DE8D24;
}


#impan {
    margin: auto;
    margin-top: 15%;
    color: #963F24;
    width: fit-content;
}


#mountainimg {
    display: block;
    margin: auto;
    width: 100%;
}

a {
    color: #5a463b;
}