body {
    background-image: url('../images/cloudmountain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: white;
}

#links {
    margin: auto;
    width: fit-content;
    color: #ff9d00;
}

h1 {
    margin: auto;
    margin-top: 5%;
    color: #5a463b;
    width: fit-content;
}


a {
    color: #5a463b;
}


table {
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

th {
    text-align: left;
}

td {
    text-align: left;
}


#profilePic {
    padding: 2%;
    padding-top: 5%;
}


p {
    padding-left: 5%;
    padding-right: 5%;
}